<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UCLA Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73771B291C9E629F00DDF5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73771B3D1C9E629F00DDF5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73771B481C9E62A000DDF5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
